.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}
 
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}
