body {
  background-color: rgb(231, 178, 178);
}

h1 {
  color: #471a1a;
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
}

h2 {
  color: #471a1a;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

h2 {
  color: #471a1a;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

h3 {
  color: #471a1a;
  font-size: 20px;
  margin-bottom: 2px;
  text-align: left;
}

p {
  font-size: 18px;
  margin: 10px 0;
  text-align: justify;
}

img {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #471a1a;
}

